@use "../../../../shared/styles/index.scss" as *;

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.container {
  padding-bottom: $padding-md;
}

.title {
  margin-bottom: $margin-lg;
  font-size: $title-sm;
  font-weight: $font-weight-semibold;
}

.warning {
  margin-top: $margin-sm;
  padding: $padding-sm;
  color: $color-secondary-accent-400;
}
